# Banco de dados MySQL
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=projeto_academia  
DB_USERNAME=root
DB_PASSWORD=senha_root_123

# Config PHPMyAdmin
PMA_HOST=mysql
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=senha_root_123
